/* Dashboard */
.box-shadow {
    box-shadow: 2px 2px 9px -4px black;
}

.total_customers {
    font-size: 20px;
    font-weight: 600;
}

.count_customer {
    background: #13bdff;
    padding: 2px 10px;
    border-radius: 10px;
    color: white;
    vertical-align: middle;
}

/* customer profile */
.heading_customer {
    text-align: center;
    font-size: 21px;
    font-weight: 600;
}

/* customer edit */
.btn-primary{
    background-color: #5e31ff !important;
    padding: 4px 15px;
    border-radius: 20px;
    color: white;
    margin-bottom: 10px;
}

